# PostgreSQL
POSTGRES_DB=ecommerce_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# Backend
JWT_KEY=change_me_super_secret_and_long
JWT_ISSUER=Ecommerce.API
JWT_AUDIENCE=Ecommerce.Web

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka.example.com:9092
KAFKA_ORDER_CREATED_TOPIC=ecommerce.orders.created.v1

# Frontend
NEXT_PUBLIC_API_URL=https://api.example.com
