POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=replace-with-a-strong-password
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=ecommerce_db;Username=ecommerce;Password=replace-with-a-strong-password
Jwt__Key=replace-with-at-least-32-random-characters
