# PostgreSQL
POSTGRES_DB=ecommerce_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
ASPNETCORE_ENVIRONMENT=Development
JWT_KEY=supersecretkey_dev_only_change_me
JWT_ISSUER=Ecommerce.API
JWT_AUDIENCE=Ecommerce.Web

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
